.hidden {
  display: none;
}

h3 {
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 3rem;
}

#form {
  font-size: 1.25rem;
  padding-left: .8rem;
  padding-right: .8rem;
}

.form-control {
  width: 50%;
}

.jumbotron {
  background-image: linear-gradient(#AA0000, #ffa564, #fff);
  border-radius: 0rem;
}

.colorPicker {
  padding: .8rem;
  line-height: 1.8rem;
  display: block;
  background-color: rgba(153, 101, 122, 0.796);
  border-radius: .75rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
  width: 50%;
}

#pythonResult, #swiftResult, #javascriptResult, #csharpResult {
  text-align: justify;
  float: right;
  font-size: 1.25rem;
}

#errorResult {
  text-align: justify;
  float: right;
  font-size: 1.25rem;
  background-color: #d804043b;
  padding: .8rem;
  margin: .8rem;
  
}
